<div class="settings-container">
  <div class="settings-section">
  <h1>設定</h1>
  <p><%= link_to 'アカウント', user_path(@user) %> <br> <%= link_to 'プロフィール', user_profile_path(@user) %></p>
  </div>
  <div class="profile">
    <h1>プロフィール</h1>
    <div class="icon">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, alt: "アバター画像", class: "avatar" %>
      <% else %>
        <%= image_tag "default-avatar.png", alt: "デフォルト画像", class: "avatar" %>
      <% end %>
    </div>
    <p>名前 <%= @user.name %></p>
    <p>自己紹介 <%= @user.introduce %></p>
    <%= link_to '編集', edit_user_path(@user), class: "edit-link" %>
  </div>
</div>